<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f8d7da;
            color: #721c24;
            padding: 40px;
            text-align: center;
        }
        .container {
            background-color: #f5c6cb;
            border: 1px solid #f1b0b7;
            border-radius: 8px;
            padding: 20px;
            display: inline-block;
        }
        a {
            color: #721c24;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${author.firstName} + ' ' + author.lastName"></h1>
    <img th:src="@{'/images/' + author.photoFileName}" alt="Фото автора">
    <p th:text="${author.biography}"></p>

    <h2>Книги автора:</h2>
    <ul>
        <li th:each="book : ${author.books}" th:text="${book.nameBook}"></li>
    </ul>

</div>

</body>
</html>