<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.nameBook}">FullBookDescription</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #7fb6ea;
            color: #0c0506;
            padding: 40px;
            text-align: center;
        }
        .container {
            background-color: #70acee;
            border: 1px solid #70acee;
            border-radius: 8px;
            padding: 20px;
            display: inline-block;
        }
        a {
            color: #721c24;
            text-decoration: underline;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="${book.nameBook}">Название книги</h1>

    <div>
        <p><strong>Author:</strong> <span th:text="${book.author}">Author</span></p>
<!--        <p><strong>Год издания:</strong> <span th:text="${book.year}">Год</span></p>-->
    </div>

    <hr/>

    <div>
        <h2>Description</h2>
        <p th:text="${bookDescription.description}">Полное описание книги</p>
    </div>

    <hr/>

    <a th:href="@{/book/getListOfBooks}">Return to list of books</a>
</div>
</body>
</html>
