<!DOCTYPE html>
<html xmlns:th="http://www.thymeleafe.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #7fb6ea;
            color: #0c0506;
            padding: 40px;
            text-align: center;
        }
        .container {
            background-color: #4a9fef;
            border: 1px solid #3b8ee0;
            border-radius: 8px;
            padding: 20px;
            display: inline-block;
        }
        a {
            color: #721c24;
            text-decoration: underline;
        }
    </style>
</head>
<div class="container">
Welcome to HomePage, <span th:if="${username}" th:text="${username}"></span>
<span th:unless="${username}" th:text="'Guest'"></span>
<br>
<br>

<a href="/user/regUser"
   th:unless="${username != 'Guest'}"
   style="display: inline-block; padding: 10px 20px; background-color: #007BFF;
color: white; text-decoration: none; border-radius: 5px;">
    Registration
</a>

<a href="/user/logout"
       th:unless="${username == 'Guest'}"
       style="display: inline-block; padding: 10px 20px; background-color: #007BFF;
color: white; text-decoration: none; border-radius: 5px;">
        LogOut
</a>

<a href="/user/login"
   th:unless="${username != 'Guest'}"
   style="display: inline-block; padding: 10px 20px; background-color: #007BFF;
   color: white; text-decoration: none; border-radius: 5px;">
    Login
</a>
<a href="/book/getListOfBooks" style="display: inline-block; padding: 10px 20px; background-color: #007BFF;
color: white; text-decoration: none; border-radius: 5px;">
    BookPage
</a>
</div>

</body>
</html>